.layout {
    display: flex;

    &__aside {
        background: rgb(230, 230, 230);
        min-height: 100vh;
        width: 200px;
        padding: 16px;

        li {
            margin-bottom: 8px;
        }
    }

    &__header {
        margin-bottom: 8px;
    }
}