@import "../../assets/stylesheets/colors.scss";

.btn {
    padding: 16px;
    border: none;
    color: white;
    cursor: pointer;

    &--primary {
        background-color: $c-primary;
    }

    &--secondary {
        background-color: $c-secondary;
    }
}
