@import "./assets/stylesheets/colors.scss";

.app {
    display: grid;
    width: 100%;
    max-width: 1564px;
    margin: 0 auto;
    padding: 0 32px;
}

img {
    max-width: 100%;
}

.colors {
    margin-bottom: 64px;

    ul {
        display: flex;
    }

    li {
        flex-grow: 1;
        padding: 24px;
    }

    &__primary {
        background-color: $c-primary;
    }

    &__secondary {
        background-color: $c-secondary;
    }

    &__white {
        background-color: $c-white;
    }

    &__black {
        background-color: $c-black;
        color: $c-white;
    }
}